# Created by venv; see https://docs.python.org/3/library/venv.html
# Variables de entorno — nunca subir a GitHub
.env

# Entorno virtual de Python — pesa mucho y no es necesario
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Archivos de VS Code aaaaa
.vscode/
